<template>
  <Card>
    <form @submit.prevent="onSubmit">
      <label>
        <input v-model="dodo">
        <span>Dodo code</span>
      </label>
      <button>Start</button>
    </form>
  </Card>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Card from '@/vue/components/Card.vue';
import { Optional } from '@/models/Types';
import { TurnipModule } from '@/store';

@Component({
  components: { Card },
})
export default class Host extends Vue {
  private dodo: Optional<string> = null;

  onSubmit () {
    if (!this.dodo) return;
    TurnipModule.host({ dodo: this.dodo, first: true });
  }
}
</script>
