<template>
  <div class="login">
    <Card>
      <form @submit.prevent="onSubmit">
        <label>
          <input v-model="player.username">
          <span>Username</span>
        </label>
        <label>
          <input v-model="player.island">
          <span>Island</span>
        </label>
        <button>Set player</button>
      </form>
    </Card>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Card from '@/vue/components/Card.vue';
import { TurnipModule, UserModule } from '@/store';

@Component({
  components: { Card },
})
export default class PlayerView extends Vue {
  get player () {
    return TurnipModule.player || UserModule.player || {};
  }

  async onSubmit () {
    UserModule.setPlayer(this.player);
  }
}
</script>
<style lang="scss">
@import "../../assets/scss/common/index";

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .card {
    display: flex;
  }
}
</style>
