<template>
  <Card>
    <form @submit.prevent="onSubmit">
      <button>join</button>
    </form>
  </Card>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { AppModule, TurnipModule } from '@/store';
import Card from '@/vue/components/Card.vue';

@Component({
  components: { Card },
})
export default class Queue extends Vue {
  mounted () {
    AppModule.start();
  }

  onSubmit () {
    TurnipModule.subscribe();
  }
}
</script>
