@import "../common/index";

.button-bar {
  display: flex;
  justify-content: space-between;

  button, .button {
    flex: 1 1 0;
    margin: .25rem;
  }
}

button, .button {
  padding: .5rem;
  margin: .25rem 0;
  background-color: var(--button-color, $color-button);
  color: var(--button-color-text, #ffffff);
  font-size: 1rem;
  border: none;
  border-radius: .5rem;

  &:focus {
    outline: none;
  }

  &.simple {
    --button-color: #dedede;
    --button-color-text: #000000;
    --button-color-hover: #a1a1a1;
  }

  &.icon-button {
    font-weight: bold;
    line-height: 1;
  }

  &:hover {
    background-color: var(--button-color-hover, $color-button-active);
  }
}
