@import "../common/index";

.component-grid {
  display: grid;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: $grid-spacing;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: $grid-spacing;

  @media only screen and (max-width: 960px){
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  @media only screen and (max-width: 480px){
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
}
