@import "../common/index";

form {
  display: flex;
  flex-flow: column;
}


label {
  position: relative;
  padding-top: .5rem;

  select, input {
    padding: .75rem .75rem .5rem;
    margin-bottom: .5rem;
    min-width: 20rem;
    line-height: 1.5;
    font-size: 1rem;

    box-sizing: border-box;
    border: $color-border 2px solid;
    border-radius: .5rem;
  }

  span {
    padding: 0 .25rem;
    position: absolute;
    top: .25rem;
    left: .5rem;
    font-size: .85rem;
    line-height: 1;
    color: #292929;
    background-color: #ffffff;
  }

  select:focus, input:focus {
    outline: none;
    border-color: $color-border-active;
  }

  select:focus ~ span, input:focus ~ span {
    color: $color-border-active;
  }

}
