$color-button: #090979;
$color-button-active: #00d4ff;

$color-background: linear-gradient(163deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 36%, rgba(0, 212, 255, 1) 100%) !default;
$color-background-card: #ffffff !default;

$color-border: #292929;
$color-border-active: #00d4ff;
$color-border-error: #792929;

$grid-spacing: 1rem;


$shadow-card: 2px 2px 4px 0px rgba(0, 0, 0, 0.4);

