<template>
  <div id="app">
    <button @click="hosting = !hosting">{{ !hosting ? 'Host' : 'Join' }}</button>
    <div class="login" v-if="hasPlayer">
      <Queue v-if="!hosting" />
      <Host v-else />
    </div>
    <PlayerView />
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Queue from '@/vue/views/Queue.vue';
import LoginView from '@/vue/views/LoginView.vue';
import { TurnipModule, UserModule } from '@/store';
import PlayerView from '@/vue/views/PlayerView.vue';
import Host from '@/vue/views/Host.vue';

@Component({
  components: { Host, PlayerView, LoginView, Queue },
})
export default class App extends Vue {
  hosting = false;
  private serviceDetector = /\/room\/(.*?)$/;

  get isLoggedIn () {
    return UserModule.loggedIn;
  }

  get hasPlayer () {
    return !!UserModule.player;
  }

  mounted () {
    const string = window.location.href;
    if (this.serviceDetector.test(string)) {
      const regex = string.match(this.serviceDetector);
      if (!regex) return;
      console.log(regex[1]);
      TurnipModule.setSession(regex[1]);
    }
  }
}
</script>
<style lang="scss">
button#settings {
  position: absolute;
  right: .5rem;
  bottom: .5rem;
}
</style>
